<!DOCTYPE html>
<html>
  <head>
    <title>Accueil</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Accueil</h1>
    <a href="/formulaire"><button>Aller au formulaire</button></a>
    
  </body>
</html>
