<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Créer un nouvel utilisateur</h1>



    <% if (answered) { %>
     merci !
     <%= id %>
    <% } %>

    <form method="POST">
        <div>
            <label>First name</label>
            <input name="first_name">
        </div>
        <div>
            <label>Last name</label>
            <input name="last_name">
        </div>
        <div>
            <label>Email</label>
            <input name="email">
        </div>
        <button type="submit">Envoyer le tout</button>
    </form>
</body>
</html>