<!DOCTYPE html>
<html>
  <head>
    <title>Titre de la page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User Page</h1>
    <p><%= data[1].name %></p>
    <% for (let i = 0; i < data.length; i++) { %>
    <p><%= data[i].name %></p>
      
      
    <% } %>
  </body>
</html>
